bin/
obj/
publish/
release/
test-build/
test-profile/
settings.json
accountList.json
band.json
*.user
Potato Launcher Assets/Assets/Artemis/*-chroma.png
Potato Launcher Assets/Assets/artemis-welcome-sheet.png
